
  <!--JavaScript Section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <scripts src="/Scripts/app.js"></scripts>
</body>

</html>